#if($URLMapContent.inode)
  <div class="news-header">
    #editContentlet($URLMapContent.inode)
    <h2>#dotedit($!URLMapContent.inode,$!URLMapContent.title)</h2>
    <div class="clear"></div>
  </div>
  
  <div class="news-body">
    #dotedit($!URLMapContent.inode,$!URLMapContent.body)
  </div>
#else
<h3>We are sorry, but the story you are looking for is no longer available.</h3>
#end